version: 2
jobs:
  build:
    docker:
      # the Docker image with Cypress dependencies
      - image: cypress/base:8
        environment:
          ## this enables colors in the output
          TERM: xterm
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - v2-deps-{{ .Branch }}-
            - v2-deps-
      - save_cache:
          key: v2-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: clean:reports
          command: "rm -R -f cypress/reports && mkdir cypress/reports && mkdir cypress/reports/mochareports"
      - run:
          name: pretest
          command: "npm run clean:reports"
      - run:
          name: scripts
          command: "cd cypress"
      - store_test_results:
          path: cypress/reports
jobs:
  install-node:
    executor: core-executor
    steps:
      - checkout
      - node/install
      - run: node --version
      - run: pwd
      - run: ls -A              