version: 2
jobs:
  build:
    docker:
      # the Docker image with Cypress dependencies
      - image: cypress/base:8
        environment:
          ## this enables colors in the output
          TERM: xterm
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - v2-deps-{{ .Branch }}-
            - v2-deps-
      - save_cache:
          key: v2-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: clean:reports
          command: "rm -R -f cypress/reports && mkdir cypress/reports && mkdir cypress/reports/mochareports"
      - run:
          name: pretest
          command: "npm run clean:reports"
      - run:
          name: combine-reports
          command: "mochawesome-merge cypress/reports/mocha/*.json > cypress/reports/mochareports/report.json"        
      - run:
          name: generate-report
          command: "marge cypress/reports/mochareports/report.json -f report -o cypress/reports/mochareports"    
      - run:
          name: posttest
          command: "npm run combine-reports && npm run generate-report"
      - run:
          name: test
          command: "npm run || npm run posttest"
      - store_test_results:
          path: cypress/reports    